@import 'colors';
@import 'nav';

.footer-container {
  height: 20px;
  padding: 8px;
  position: relative;
  width: 100%;
}

.footer-search {
  display: inline-block;
  margin-left: -8px;
}

.footer-nav {
  @extend .nav;
  float: right;
  margin: -8px -8px 0 0;
}

.footer-nav__elem {
  @extend .nav__elem;
}

.footer-nav__block-link {
  @extend .nav__block-link;
  @include borders-n-shadows($color-dark-green);
  background-color: $color-green;
}

.footer-nav__block-link--last {
  @extend .footer-nav__block-link;
  border-right: none;
}
