@import 'variables';
@import 'nav';
@import 'form';

.footer-container {
  height: 20px;
  padding: $padding-s;
  width: 100%;
}

.search-form {
  display: inline-block;
  margin-left: -$margin-s;
}

.search-form__input {
  @extend .form__input;
}

.footer-nav {
  @extend .nav;
  float: right;
  margin-top: -$margin-s;
  margin-right: -$margin-s;
}

.footer-nav__elem {
  @extend .nav__elem;
}

.footer-nav__block-link {
  @extend .nav__block-link;
  @include borders-n-shadows($color-dark-green);
  background-color: $color-green;
}

.footer-nav__block-link--last {
  @extend .footer-nav__block-link;
  border-right: none;
}
