@import 'colors';

.header {
  background-color: $color-green;
  border-bottom: 6px solid $color-dark-green;
  height: 50px;
  padding: 8px;
  width: 100%;
}

.header__left {
  display: inline-block;
}

.header__title {
  font-size: 30px;
  margin-top: 10px;
}

.header__right {
  display: inline-block;
  width: 190px;
  float: right;
}

.signin-form__input {
  margin-bottom: 5px;
  padding: 2px;
  border: 1px solid #ACC45A;
}
