@import 'variables';
@import 'form';

.header {
  background-color: $color-green;
  border-bottom: 6px solid $color-dark-green;
  height: 50px;
  padding: $padding-s;
  width: 100%;
}

.header__left {
  display: inline-block;
}

.header__title {
  font-size: $font-big;
  margin-top: $margin-s;
}

.header__right {
  display: inline-block;
  width: 190px;
  float: right;
}

.signin-form__input {
  @extend .form__input;
}
