@import 'colors';
@import 'nav';

.top-nav-container {
  margin-top: 30px;
}

.top-nav {
  @extend .nav;
  text-align: center;
}

.top-nav__elem {
  @extend .nav__elem;
}

.top-nav__block-link {
  @extend .nav__block-link;
  @include borders-n-shadows($color-dark-natural);
  background-color: $color-natural;
}

.top-nav__block-link--last {
  @extend .top-nav__block-link;
  border-right: none;
}
