@import 'colors';

.top-nav-container {
  margin-top: 30px;
}

.top-nav {
  text-align: center;
}

.top-nav a {
  background-color: $color-natural;
  border-right: 1px solid $color-dark-natural;
  border-bottom: 2px solid $color-dark-natural;
  padding: 10px;
  &:hover {
    box-shadow: inset 0 -3px 0px 0px $color-dark-natural;
    -moz-box-shadow: inset 0 -3px 0px 0px $color-dark-natural;
    -webkit-box-shadow: inset 0 -3px 0px 0px $color-dark-natural;
  }
}
