$color-white:         #FFF;
$color-green:         #CBE86B;
$color-dark-green:    #B6D060;
$color-natural:       #F2E9E1;
$color-dark-natural:  #D9D1CA;
$color-black:         #1C140D;
$color-gray:          #DCD3CB;

$font-small:          14px;
$font-medium:         22px;
$font-big:            30px;

$padding-xs:          2px;
$padding-s:           8px;
$padding-l:           16px;

$margin-xs:           4px;
$margin-s:            8px;
$margin-m:            16px;
$margin-l:            20px;
$margin-xl:           30px;
